// Define variables for your color scheme

// For example:
$red: #B25454;
$blue: #93B2B2;
$green: #556B6D;

$yellow: #FFEAC0;
$orange: #E67E22;
// $gray: #000000;

// gray scale
$dark-gray: #131416;
$medium-gray: #777B82;
$light-gray: #DDDEE0;
