// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Noto+Sans|Noto+Serif|Source+Sans+Pro');

// Define fonts for body, headers and accent font
$body-font: 'Source Sans Pro', sans-serif;
$headers-font: 'Noto Sans', sans-serif;
$accent-font: 'Noto Serif', serif;
