#debrief-title {
  display: flex;
  text-align: center;
  padding-bottom: 60px;
  padding-top: 80px;
  padding-right: 50px;
  padding-left: 50px;
  justify-content: center;
  background-color: $light-gray;
    i {
      color: $dark-gray;
      font-size: 40px;
      padding-top: 30px;
      margin-right: 30px;
    }
}
.debrief-container {
  display: flex;
  justify-content: center;
}
.board-column {
  background-color: $light-gray;
  height: 230rem;
  width: 20rem;
}
.card-container {
  // box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  padding-right: 80px;
  padding-left: 80px;
  padding-top: 30px;
}
