// Specific CSS for your home-page
.home-title {
  text-align: center;
  height: 100px;
  margin-top: 70px;
  margin-bottom: 30px;
}

.index-home-container {
  display: flex;
  flex-wrap: wrap;
  // Center every line event if not 4 items. - ToDO: Change the function for after (works for MVP)
  justify-content: center;

}

