<footer>
  <div id="footer-wrapper">

    <!-- #footer-legal -->
    <div id="footer-legal">
      <div id="footer-copyright">
        <p><i class="far fa-copyright"></i> 2019 - Laabb</p>
      </div>
      <div id="footer-links">
        <a href="#">mentions légales</a>
        <a href="#">politique de confidentialité</a>
      </div>
    </div>
    <!-- /#footer-legal -->

    <!-- footer-links -->
    <div id="footer-links">
      <a href="#">contact</a>
    </div>
    <!-- /#footer-links -->

  </div>
</footer>
