#tools-show {
  background: $light-gray;
}

.tool-show-container {
  background-color: $light-gray;
  padding-bottom: 20px;
}

.tool-name {
  text-align: center;
  padding: 100px 0 50px 0;
}
.tool-description {
  flex: 0 0 30%;
  padding: 50px 30px;
  background-color: $light-gray;
}

.tool-details-container {
  display: flex;
  justify-content: space-around;
}

.support-container {
  display: flex;
  flex-direction: column;
  background: white;
  flex: 0 0 70%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tool-video,
.tool-pdf {
  padding: 20px;
}

.tool-video {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h4 {
    align-self: flex-start;
  }
}

.tools-video {
  // padding-top: 40px;
  // padding-left: 80px;
}
.tools-video iframe{
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.tools-video iframe:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.tool-pdf {
  display: flex;
  padding-top: 20px;
  .fa-file-pdf {
    font-size: 50px;
    padding-top: 80px;
  }
}
.tool-pdf p{
  padding-top: 100px;
  padding-left: 80px;
}

