<div class="home-title">
  <h1>L'usine à solution rapide pour les étudiants</h1>
</div>
<div class="index-home-container">
  <% @courses.each do |course| %>
    <div class="courses-card">
      <%= link_to course_path(course) do %>
      <div class="course-content">
        <%= course.description %>
      </div>
      <div class="course-title">
        <%= course.title %>
      </div>
      <div class="course-footer">
      </div>
    </div>
    <% end %>
  <% end %>
</div>
