// .index-home-container{
//   display: flex;
// }
// Card for courses on home_page
.courses-card{
  margin: 25px;
  flex: 0 0 20%;
  border: solid $medium-gray 1px;
  border-radius: 1px;
}
// Tittle inside each card
.course-title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  color: black;
}
.course-footer{

}
// Content inside each card
.course-content {
  text-align: center;
  background-color: $dark-gray;;
  color: black;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
// Card for tools on course_show
.tool-card {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 23px;
  flex: 0 0 10%;
  border: solid $medium-gray 1px;
  border-radius: 1px;
}
.tool-card-title {
  text-align: center;
  margin-bottom: 15px;
  color: $dark-gray;
}
.tool-card-content {
  text-align: center;
  margin-bottom: 15px;
  margin-top: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
.tool-card-content p {
  font-size: 15px;
  color: $dark-gray;
}
.tool-card-footer {
  text-align: center;
  margin-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
}
.tool-card-footer p {
  font-size: 15px;
  color: $dark-gray;
}
