// .index-home-container{
//   display: flex;
// }
// Card for courses on home_page
.courses-card{
  margin: 25px;
  flex: 0 0 20%;
  border: solid $medium-gray 1px;
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.courses-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
// Tittle inside each card
.course-title{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
  color: black;
}
.course-footer{

}
// Content inside each card
.course-content {
  text-align: center;
  background-color: $medium-gray;
  color: black;
  padding-top: 20px;
  padding-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
// Card for tools on course_show
.tool-card {
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 23px;
  flex: 0 0 40%;
  border: solid $medium-gray 1px;
  border-radius: 1px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.tool-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.tool-card-title {
  text-align: center;
  margin-bottom: 20px;
  color: $dark-gray;
}
.tool-card-content {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
.tool-card-content p {
  font-size: 15px;
  color: $dark-gray;
}
.tool-card-footer {
  display: flex;
  text-align: center;
}
.tool-card-pdf {
  flex: 0 0 50%;
  border-right: solid $medium-gray 1px;
  border-top: solid $medium-gray 1px;
  padding-top: 10px;
}
.tool-card-video {
  flex: 0 0 50%;
  // border-right: solid $medium-gray 1px;
  border-top: solid $medium-gray 1px;
  padding-top: 10px;
}
.tool-card-footer p {
  font-size: 15px;
  color: $dark-gray;
}
// COurse feedback card
.card-container {
  justify-content: flex-end;
}
.coursefeedback-card {
  // width: 300px;
  margin-top: 50px;
  margin-bottom: 50px;
  border: solid $medium-gray 1px;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.coursefeedback-card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.coursefeedback-card-first-row {
  display: flex;
  justify-content: space-between;
}
.course-feedback-card-name {
  display: flex;
}
.coursefeedback-card-course {
  margin-right: 20px;
  margin-left: 20px;
}
.coursefeedback-card-created {
  margin-right: 20px;
  margin-left: 20px;
}
.course-feedback-content {
  justify-content: center;
  margin-right: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
}
