<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>

</body>
</html>


<ul>
  <% @products.each do  |id, product|
    <li> <%= product[:name] %> (<%= product[:description]%>) (<%= product[:price]%>) </li>
  <% end %>
</ul>
