
.dashboard-title {
  // text
  font-size: 40px;
  font-style: $headers-font;
  text-align: center;
  font-weight: bold;
  // div size
  height: 100px;
  margin-top: 130px;
}
.contain-container {
  display: flex;
}
.user-container {
  flex: 0 20%;
  background-color: $light-gray;
  text-align: center;
}
.fa-user-tie {
  font-size: 200px;
  color: $dark-gray;
}
.tutor-avatar {
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 100px;
}
.biographie-cell-style {
  flex: 1 40%;
}
// .name-cell-style {
//   width:700px;
//   height:100px;
//   padding-top: 25px;
//   border: solid rgba(54,54,54,100);
//   margin-top: 50px;
//   margin-bottom: 25px;
//   padding-left: 10px;
// }
// .biographie-cell-style {
//   font-size: 16px;
//   font-style:$body-font;
//   width:700px;
//   padding-top: 25px;
//   padding-bottom: 25px;
//   border: solid black;
//   margin-top: 50px;
//   margin-bottom: 25px;
//   padding-left: 10px;
// }
// .tutor-course-container {
//   width:700px;
//   padding-top: 10px;
//   padding-bottom: 25px;
//   border: solid black;
//   margin-top: 25px;
//   margin-bottom: 25px;
//   padding-left: 10px;
// }
// .tutor-courses {
//   padding-top: 10px;
//   padding-bottom: 10px;
//   border-bottom: solid black;
// }
// .tutor-course-tool {
// padding-left: 10px;
// }
